// html, body {
// }

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Inter');

.leaflet-bottom .leaflet-control {
  margin-bottom: 3.4em !important;
}

.leaflet-popup-content { 
  width:auto !important; 
}

.leaflet-popup-close-button {
  display: none; 
}

img#marker-image {
  max-width: 250px;
  max-height: 250px;
}

.leaflet-popup-content {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.delete-marker-button {
  text-decoration: none !important;
}

#input-group-1__BV_label_, #input-group-2__BV_label_ {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: #555555;

  margin-bottom: 0em;
  margin-left: 0.35em;

  text-align: left !important;
}

#input-1-password-loginform, #input-2-password-loginform {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  /* identical to box height, or 18px */

  // text-transform: capitalize;

  color: #989898;

  background: #F8F9FD;
  border-radius: 12px;
}

#input-2-password-loginform {
  margin-top: 0em !important;
}